upstream django_app { 
	server django:8000; 
}

server {
	listen 443 ssl; 
	server_name localhost;
	access_log /var/log/nginx/app.log; 
	error_log /var/log/nginx/app.error.log;
		
	location / { 
		proxy_pass http://django:8000; 
	} 
}