<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="{% url 'videos:list' %}">
        YOUTUBE
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'videos:popular' %}">Popular</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'videos:history' %}">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:logout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">Hello {{ user.username }}</span>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:signup' %}">Signup</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>